@use "./components" as *;
@use "./pages/main";
@use "./pages/login";
@use "./pages/register";
@use "./pages/footer";

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}