.footer {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > div:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        & > img {
            width: 45px;
            height: 45px;
        }
        & > a {
            text-decoration: none;
        }
    }
    & > div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }

    @media (max-width: 899px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        & > div:nth-of-type(3) {
            grid-column: 1 / span 2;
            text-align: center;
        }
    }
}