@use "../components" as *;

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navbar-main {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  & > div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17%;
    img {
      width: 40px;
      height: 40px;
    }
    h1 {
      font-family: "Orbitron", sans-serif;
      cursor: default;
    }
  }
}

.body-main {
  width: 100%;
  margin-top: 8rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
  & > div:first-of-type {
    height: 80vh;
    display: flex;
    align-items: center;
    & > div:first-of-type {
      width: 60%;
      display: flex;
      flex-direction: column;
      padding-left: 2rem;
      gap: 2rem;
      h2 {
        font-family: "Share Tech Mono", monospace;
        font-weight: bold;
        font-size: 2.5rem;
      }
      p {
        font-size: 1.3rem;
      }
      button {
        width: 40%;
        padding: 5px;
        border: 3px solid;
        font-size: 1rem;
      }
    }

    .network-animation {
      position: relative;
      width: 1000px;
      pointer-events: none;
    }
  }

  & > div:nth-of-type(2) {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 2rem;
  }
}
